<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Live Face Recognition</title>
</head>

<body style=" background: rgba(0, 0, 0, 0.5);" data-new-gr-c-s-check-loaded="14.1040.0" data-gr-ext-installed="">

<img src="{{url_for('static', filename='codact_logo.png')}}" style="width: 400px;margin-left: 400px;margin-top: -90px;"/>
<div class="container" style="width: 80%;height: 600px;margin-left: 80px;">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5" style="color: white">Face Recognition</h3>
            <img src="/Face_Detection" width="100%">
        </div>
    </div>
</div>



</body>


</html>